body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 1px 27px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Шапка */

.main-navigation {
    font-weight: 700;
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
}

.site-navigation, .user-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation {
    margin-left: 10px;
    display: flex;
    font-size: 16px;
    line-height: 18px;
}

.site-navigation-item a {
    display: block;
    padding: 10px 14px;
    text-align: center;
    color: #ffffff;
    text-decoration: underline rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.site-navigation-current>a {
    background-color: #d07058;
    border-radius: 20px;
    text-decoration: none;
}

.site-navigation>li {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 1px;
    width: 145px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    margin: 0;
    padding: 0;
    list-style: none;

    color: #000000;
    background-color: #f8f7f4;
    border-radius: 10px;
    z-index: 5;
}

.user-navigation {
    display: flex;
    margin-bottom: 20px;
}

.sub-menu li:first-child {
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sub-menu a {
    text-align: left;
    color: #000000;
    text-decoration: none;
    border-radius: 0;
}

.sub-menu-current a {
    color: #ffffff;
    background-color: #d07058;
}

.site-navigation>li .sub-menu a[href]:hover, .site-navigation>li .sub-menu a[href]:focus {
    background-color: #fbded7;
    border-radius: 10px;
}

.site-navigation>li .sub-menu a[href]:active {
    background-color: #f6b5a5;
    border-radius: 10px;
}

.user-navigation-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.user-navigation li {
    position: relative;
    margin-left: 10px;
}

.user-navigation-item a {
    display: block;
    padding: 10px 14px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.tooltip {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    box-sizing: border-box;
    color: #c2c2c2;
    background-color: #f8f7f4;
    border-radius: 5px;
    z-index: 5;
}

.tooltip form {
    margin: 0;
}

.tooltip input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #d4d4d3;
    border-radius: 5px;
}

.tooltip input:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
    padding: 9px;
}

.tooltip input:focus {
    outline-color: transparent;
    border: 2px solid rgba(46, 136, 228, 0.52);
    padding: 9px;
}

.tooltip .search {
    width: 340px;
    padding: 20px 15px;
}

.tooltip .login-link {
    width: 280px;
    padding: 20px 19px;
    box-sizing: border-box;
}

.login-link input {
    margin-bottom: 20px;
}

.login-link p {
    margin: 0 0 20px;
}

.login-help {
    float: right;
    padding-top: 5px;
}

a.restore {
    padding: 2px 1px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}

.login-help a:hover,
.login-help a:focus {
    color: #e84d37;
    text-decoration-color: #f9cdc4;
}

.login-help a:active {
    color: #e84d37;
    text-decoration-color:  #f9cdc4;
}

.button-login {
    float: left;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 12px 23px;
}

.user-navigation-wrapper .phoun-number {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}

.contacts {
    margin: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 170px;
}

.site-navigation a[href]:hover, .site-navigation a[href]:focus {
    color: #000000;
    background-color: #f7f6f3;
}

.site-navigation a[href]:active {
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.9);
}

.site-navigation>li:hover .sub-menu {
    display: block;
}

.user-navigation a:hover, .user-navigation a:focus {
    color: #000000;
    background-color: #f7f6f3;
}

.user-navigation li:hover .tooltip{
    display: block;
}

/* корзина на врутренней странице */

.basket-full {
    /* display: none; */
    width: 540px;

    color: #323232;
}

.basket {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    border-collapse: collapse;
}

.remove-order {

}

.order-img {
    display: block;
    width: 33px;
    height: 33px;
}



/* Главная страница */

/* slider */

.offers {
    /* padding-top: 500px; */
}

/* Баннеры */

.promotion {
    margin: 40px 0 34px;
}

.promotion ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    display: inline-block;
    vertical-align: middle;
    
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    
    background: #ee6541 linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 22px;
}

.button:hover,
.button:focus {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);    
}

.promo {
    display: flex;
    flex-direction: column;
    width: 560px;
    padding: 16px 20px;
    border-radius: 16px;
}

.promo h3 {
    margin: 0 0 20px;
    font-size: 32px;
    line-height: 41px;
    font-weight: 700;
}

.promo p {
    margin: 0 0 45px;
    font-size: 18px;
    line-height: 24px;
}

.promo-1 {
    background: #c82652 url("../img/raspberries.jpg") no-repeat;
    margin-right: 27px;
}

.promo-2 {
    background: #4b2713 url("../img/chocolate.jpg") no-repeat;
}

.promo .button {
    padding: 10px 17px;
    align-self: flex-end;
}

/* хиты */

.hits-wrapper {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.hits-list {
    margin: 0 0 14px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.hit::before {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 5px;
    left: 13px;
    content: '';
    background: #ffffff url("../img/hit.jpg");
    border-radius: 50%;
}

/* Преимущества */

.features {
    color: #000000;
}

.features .container {
    box-sizing: border-box;
    padding: 23px 20px 4px;

    background: #ede0c6 url("../img/waffle.jpg");
    border-radius: 16px;
}

.feature-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
}

.feature-item {
    position: relative;
    width: 483px;
    padding-left: 57px;
    margin-bottom: 22px;
}

.feature-item::before {
    position: absolute;
    top: -11px;
    left: 0;
    display: block;
    width: 49px;
    height: 49px;
    content: '';
}

.icon-ice-cream::before {
    background: url("../img/ice-cream.svg") no-repeat;
}

.icon-eco::before {
    background: url("../img/eco.svg") no-repeat;
}

.icon-cow::before {
    background: url("../img/cow.svg") no-repeat;
}

.icon-thermometr::before {
    background: url("../img/thermometer.svg") no-repeat;
}


.features .title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

/* Блог и подписка */

.wrapper {
    margin: 40px 0;
}

.wrapper .container {
    display: flex;
    justify-content: space-between;
}

.blog, .subscribe {
    display: inline-flex;
    flex-direction: column;
}

.blog {
    width: 520px;
    padding: 20px;
    color: #000000;
    background: #ffffff url("../img/strawberry.jpg") no-repeat 17% 39%;
    border-radius: 16px;
}

.blog .blog-news {
    margin: 0 0 -8px;
    font: inherit;
}

.blog a {
    display: block;
    width: 330px;
    margin: 15px 0 60px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-decoration: underline #000000;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}

.subscribe {
    width: 560px;
    padding: 32px 26px 35px;
    box-sizing: border-box;
    color: #5a5a5a;
    background-color: #f8f7f4;
    background-image: linear-gradient(90deg,  #f8f7f4,  #f8f7f4), url(../img/bg-post.svg);
    background-repeat: no-repeat;
    background-size: 98% 95%, cover;
    background-position: center;
    border-radius: 16px;
}

.subscribe form {
    display: flex;
    margin-top: 32px;
}

.subscribe p {
    margin: 0;
}

.subscribe input {
    width: 100%;
    padding: 12px 16px;
    font: inherit;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
}

.subscribe input:hover {
    padding: 11px 15px;
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe input:focus {
    padding: 11px 15px;
    outline-color: transparent;
    border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscribe .button {
    padding: 12px 23px;
    margin-left: 10px;
}

/* Карта и контакты */

.feedback {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.address {
    position: absolute;
    width: 250px;
    padding: 25px 25px;
    top: 63px;
    right: 27px;

    color: #000000;
    background-color: #fdfdfd;
    border-radius: 15px;
}

.contacts-block-item {
    margin-bottom: 20px;
}

.contacts-block-label {
    width: 172px;
    margin: 0 0 3px;
    font-size: 14px;
    line-height: 20px;
}

.contacts-block-info {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: #000000;
}

.feedback-btn {
    width: 100%;
    padding: 12px 23px;
    display: block;
    box-sizing: border-box;
}

/* подвал */

.main-footer {
    padding: 23px 0;
    font-size: 13px;
    line-height: 18px;
}

.main-footer .container {
    display: flex;
    align-items: center;
}

.footer-social {
    width: 270px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

.footer-social li {
    padding-right: 10px;
}

.social-button svg {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-button:hover svg,
.social-button:focus svg {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active svg {
    opacity: 0.7;
    border: 3px solid rgba(255, 255, 255, 0.9);
}

.footer-middle {
    margin: 0 auto;
    width: 340px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    position: relative;
    width: 170px;
}

.footer-menu a, .footer-copyright a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu a:hover, .footer-menu a:focus, .footer-copyright a:hover, .footer-copyright a:focus {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer-menu a:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer-menu li.provider::before {
    position: absolute;
    left: -22px;
    content: "";
    width: 15px;
    height: 13px;
    background: url("../img/heart.svg") no-repeat;
}

.footer-copyright {
    font-size: 12px;
    margin-left: auto;
}

/* Модалка */

.modal {
    position: relative;
    width: 475px;
    padding: 20px 36px 17px 20px;
    background-color: #f8f7f4;
    box-sizing: border-box;
    border-radius: 15px;
}

.modal-close {
    position: absolute;
    top: 17px;
    right: 27px;
    width: 26px;
    height: 26px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 22px;
    height: 3px;

    background-color: #000000;
}

.modal-close::before {
    transform: rotate(45deg);
}
  
.modal-close::after {
    transform: rotate(-45deg);
}

.modal-feedback {
    display: flex;
    flex-direction: column;
}

.modal .title {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #000000;
}

.feedback-item {
    margin: 0 0 20px;
}

.feedback-item input {
    width: 55%;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 24px;
    
    border: 1px solid #999999;
    border-radius: 5px;
}

.feedback-item textarea {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    
    border: 1px solid #999999;
    border-radius: 5px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
    padding: 11px 14px;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
    outline-color: transparent;
    border: 2px solid rgba(46, 136, 228, 0.52);
    padding: 11px 14px;
}

.feedback-item input:active,
.feedback-item textarea:active {
    border: 1px solid rgba(178, 178, 178, 0.52);
    padding: 12px 15px;
}

.modal-feedback .button {
    align-self: flex-end;
}

/* catalog page */

.inner-wrapper {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.page-title {
    margin: 5px 27px 30px;
    font-size: 35px;
    line-height: 41px;
}

.inner-page .container {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 15px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;
    margin-right: 20px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a[href] {
    color: #ffffff;
    text-decoration: underline rgba(255, 255, 255, 0.4);
}

.breadcrumbs li::after {
    position: absolute;

    width: 10px;
    height: 10px;
    
    content: "»";
    right: -15px;
}

/* фильтры */

.search {
    margin-bottom: 35px;
}

/* Каталог товаров */

.catalog-wrapper {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 295px;
    margin-bottom: -44px;
    padding-bottom: 35px;
}

.catalog-item-header {
    margin: 10px 0 45px;
    padding: 0 25px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

.catalog-item img {
    margin: 5px auto 0;
    border-radius: 50%;
}

.catalog-list li:nth-child(4n), .hits-list li:nth-child(4n) {
    margin-right: 0;
}

.catalog-item .cost {
    margin: 0;
    position: absolute;
    left: 13px;
    bottom: 143px;
}

.catalog-item-header a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: underline rgba(255, 255, 255, 0.4);
    color: #ffffff;
}

.catalog-item-header a:hover,
.catalog-item-header a:focus,
.catalog-item-header a:active {
    color: #ffbc9e;
    text-decoration-color:  rgba(255, 188, 158, 0.3);
}

.price {
    font-size: 46px;
    line-height: 45px;
    font-weight: 700;
}

.weight {
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-btn {
    opacity: 0;
    padding: 8px 23px 15px;
    text-decoration: none;
    position: absolute;
    bottom: 18px;
    left: 45px;
    
    z-index: 5;
}

.catalog-item:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;

    z-index: 4;
}

.catalog-item:hover .catalog-btn {
    opacity: 1;
}

.pagination-list {
    display: flex;
    justify-content: flex-end;
    margin: 48px 0 29px;
    padding: 0;
    line-height: 24px;

    list-style: none;
}

.pagination-item {
    width: 30px;
}

.pagination-item a {
    display: block;
    text-align: center;
    width: 26px;
    height: 26px;
    
    color: #ffffff;
}

.pagination-item-disabled a {
    color: rgb(255, 255, 255, 0.2);
}

.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
}

.pagination-item a[href]:active {
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%;
}